body {
  margin: 0px;
}
input:focus-visible {
  outline: none;
}
.container {
  padding: 0px 30px;
}
header {
  background-color: #560bad;
  transition: transform 0.2sease-in-out;
  z-index: 8;
  height: 55px;
  position: fixed;
  width: 100%;
  top: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
}
.header_section {
  display: flex;
  flex-wrap: wrap;
}
.header_right {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.logo {
  width: 150px;
  height: 55px;
  display: flex;
  align-items: center;  
}
.logo a {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}
.search_section {
  display: flex;
  height: 35px;
  margin-right: 15px;
}
.drowpdon_label select {
  padding: 5px 7px;
  background: #fff;
  width: 104px;
  border: none;
  border-right: 1px solid #a7a7a7;
  line-height: 15px;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  height: 35px;
  outline: none;
  font-size: 15px;
}
.search_section input {
  width: 304px;
  font-size: 13px;
  padding: 0 10px;
  border: none;
}
.search_section button {
  background-color: #4361ee;
  border: none;
  outline: none;
  color: #fff;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  border-radius: 0px 4px 4px 0px;
}
.search_bar-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.by_mart-btn {
  box-sizing: border-box;
  width: 130px;
  height: 35px;
  text-align: center;
  color: #2e3192;
  font: 700 12px / 1.3 Arial, Helvetica, sans-serif;
  border-radius: 2px;
  line-height: 35px;
  background-color: #fff;
  text-decoration: none;
}
.header_dropdown {
  display: flex;
  align-items: flex-end;
}
.header_dropdown a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}
.header_dropdown .businessLoans {
  position: relative;
  padding: 10px 6px;
  cursor: pointer;
}
.header_dropdown .businessLoans:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  width: 23px;
  height: 20px;
  transform: translateX(-50%);
  background-image: url(https://utils.imimg.com/globalhf/hrd-sp-v35.png);
  background-repeat: no-repeat;
  background-position: -170px -235px;  
}
.header_dropdown .helpBtn:before {
  content: "";
  background-position: -357px -14px !important;
}
.header_dropdown .SignIn:before {
  content: "";
  background-position: -280px -127px;
}
.header_dropdown .SignIn .sign-hover-dropdn,
.header_dropdown .heldrdwn {
  display: none;
    width: 263px;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-top: 0 none;
    top: 28px;
    right: -1px;
    z-index: 99;
    border-radius: 3px;
    background: #fff;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.15);
    border: 1px solid #dddfe5;
}
.header_dropdown .SignIn:hover .sign-hover-dropdn,
.header_dropdown .helpBtn:hover .heldrdwn {
  display: grid;
}
.u_sigin {
  border-bottom: 1px solid #eee;
}
.cont_s {
  display: block;
  width: 110px;
  margin: 10px auto;
  padding: 0 !important;
  font-size: 14px;
  line-height: 35px;
  border: 1px solid #4361ee;
  text-align: center;
  border-radius: 3px;
  color: #fff !important;
  background: #4361ee;
}
.hover-new-user {
  padding: 6px;
  line-height: normal;
  color: #757575;
  text-align: center;
}
.header_dropdown .hover-new-user a  {
  color: #2e3192 !important;
  padding-left: 5px;
}
.signIn_dropdown a {
  position: relative;
  display: block;
  padding: 10px 0 10px 35px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  color: #111;
  font-size: 13px;
}
.signIn_dropdown a.signIn_icon::before {
  content: "";
  height: 20px;
  width: 40px;
  position: absolute;
  left: 5px;
  top: 7px; 
  background-image: url(https://utils.imimg.com/globalhf/home-new-icon16.png);
  background-repeat: no-repeat;
}
.signIn_dropdown a.h_ic1:before {
  background-position: -8px -477px;
}
.signIn_dropdown a.h_ic2:before {
  background-position: -8px -425px;
}
.signIn_dropdown a.h_ic37:before {
  background-position: -10px -1477px;
}
.signIn_dropdown a.h_ic34:before {
  background-position: -8px -1368px;
}
.signIn_dropdown a.h_ic21:before {
  background-position: -10px -1005px;
}
.signIn_dropdown a.h_ic4:before {
  background-position: -8px -60px;
}
.signIn_dropdown a.h_ic6:before {
  background-position: -8px -372px;
}
.signIn_dropdown a.h_ic16:before {
  background-position: -7px -596px;
}
a.hpay, div.hpay {
  border-top: 1px solid #eee;
  padding-left: 15px !important;
}
.bldrdwn:before, .cvdSub:before, .heldrdwn:before, .sign-hover-dropdn:before {
  content: "";
  position: absolute;
  border: solid rgba(33, 43, 54, 0.15);
  border-width: 0 2px 2px 0;
  padding: 3px;
  right: 15px;
  transform: rotate(-135deg);
  top: -5px;
  background: #fff;
}
.heldrdwn a, .heldrdwn span.wAnch {
  color: #333;
  font-size: 13px;
  width: 100%;
  text-align: left;
  background: #fff;
  margin: 0;
  box-sizing: border-box;
  padding: 9px 0 9px 32px;
  line-height: 15px;
}
.heldrdwn p {
  color: #999;
  text-align: left;
  padding-left: 12px;
  font-size: 11.5px;
  margin-top: 11px;
}
.heldrdwn .wli {
  width: 50%;
}
.helpBtn .heldrdwn a {
  position: relative;
}
.helpBtn .heldrdwn a::before {
  content: "";
  height: 18px;
  width: 39px;
  position: absolute;
  left: 7px;
  top: 7px;
  background-image: url(https://utils.imimg.com/globalhf/home-new-icon16.png);
  background-repeat: no-repeat;
}
.helpBtn .heldrdwn a.h_ic28:before {
  background-position: -14px -1164px;
}
.helpBtn .heldrdwn a.h_ic29:before {
  background-position: -12px -1192px;
}
.helpBtn .heldrdwn a.h_ic30:before {
  background-position: -13px -1224px;
}
.helpBtn .heldrdwn a.h_ic31:before {
  background-position: -12px -1262px;
}
.helpBtn .heldrdwn a.h_ic32:before {
  background-position: -13px -1296px;
}
.helpBtn .heldrdwn a.h_ic33:before {
  background-position: -13px -1332px;
}
.helpBtn .heldrdwn a.h_ic35:before {
  background-position: -13px -1404px;
}
.helpBtn .heldrdwn a.h_ic41:before {
  background-position: -12px -1660px;
}
/* sell-indiamart */
.cell_on-indiaMart .row {
  width: 100%;
  display: inline-block
}

.cell_on-indiaMart.loginPage {
  font-family: Arial;
  background: #fff
}

.cell_on-indiaMart .headercntrl {
  padding-bottom: 44px
}

.cell_on-indiaMart .subHeader {
  width: 100%;
  height: 47px;
  position: fixed;
  background: #fff;
  z-index: 2;
  top: 55px
}

.cell_on-indiaMart .subHeadBlocks {
  width: 15%;
  color: #0453c7;
  font-weight: 700;
  font-size: 14px;
  padding: 16.5px 15px;
  text-align: center;
  float: left
}

.cell_on-indiaMart .subHeadBlocks:hover {
  background: #f2f6fc
}

.cell_on-indiaMart .subHeadBlocks a {
  font-weight: 700;
  font-size: 14px
}

.cell_on-indiaMart .bannerRow {
  position: relative;
  margin-top: 10px;
  display: inline-flex;
  padding: 0px 20px;
  background: #f4f4f4;
}

.cell_on-indiaMart .banner {
  max-width: 100%;
  /* margin-left: 35px; */
  /* height: 454px; */
  margin-top: 6px;
  width: 100%;
  /* border-bottom: 1px solid #666666; */
}

.cell_on-indiaMart .banner-text {
  color: #0453c7;
  /* position: absolute; */
  /* top: 34px;
  left: 25.5%; */
  font-size: 18px
}

.cell_on-indiaMart .soi-stat {
  width: 90%;
  margin: 23px auto auto
}

.cell_on-indiaMart .soi-stat-heading {
  font-size: 18px;
  font-weight: 600;
  color: #0453c7;
  padding: 5px 0 14px
}

.cell_on-indiaMart .ss-block1 {
  width: 35%;
  height: 333px;
  border-radius: 4px;
  background-color: #f5f4f4;
  float: left
}

.cell_on-indiaMart .ss-div {
  display: block;
  margin-top: 23px;
  height: 56px
}

.cell_on-indiaMart .ss-block1-img {
  width: 37%;
  float: left
}

.cell_on-indiaMart .ss-block1-img img {
  margin-left: 60px
}

.cell_on-indiaMart .ss-block1Even .ss-block1-text {
  display: inline-block;
  position: relative;
  left: -11px;
  top: 9px;
  font-size: 20px
}

.cell_on-indiaMart .ss-block1Even {
  height: 280px
}

.cell_on-indiaMart .ss-block1-text {
  display: inline-block;
  position: relative;
  left: 70px;
  top: 9px;
  font-size: 22px
}

.cell_on-indiaMart .ss-block1-text b {
  color: #0453c7;
  font-weight: 700
}

.cell_on-indiaMart .ss-block1-text span {
  color: #000;
  font-size: 21px;
  font-weight: 600
}

.cell_on-indiaMart .ss-block1Even .ss-block1-text span {
  font-size: 17px!important;
  font-weight: 400!important
}

.cell_on-indiaMart .ss-block1Even .ss-block1-img img {
  margin-left: 42px;
  width: 45px
}

.icon-text {
  width: 100%;
  height: 345px;
  display: inline-block;
  margin-top: 22px
}

.cell_on-indiaMart .ss-block2 {
  display: inline-block;
  float: left;
  margin-left: 90px;
  width: 55%;
  margin-top: -42px
}

.cell_on-indiaMart .ss-block2 img {
  width: 65px
}

.cell_on-indiaMart .ss-block2-icon {
  float: left;
  margin-top: 20px
}

.cell_on-indiaMart .ss-block2-text {
  width: 80%;
  height: 100px;
  margin-top: 17px;
  margin-left: 140px
}

.cell_on-indiaMart .ss-block2Even .ss-block2-text {
  width: 100%;
  height: 100px;
  margin-top: 17px;
  margin-left: 0!important
}

.cell_on-indiaMart .ss-block2Even .icon-text {
  background: url(https://seller.imimg.com/img/htgflnew.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding: 0 0 0 47px;
  width: 100%;
  height: 283px!important
}

.cell_on-indiaMart .ss-block2Even h3 {
  text-align: center;
  margin-top: 32px!important;
  display: inline-block;
  width: 100%
}

.cell_on-indiaMart .ss-block2Even {
  width: 70%;
  margin-left: 19px!important
}

.cell_on-indiaMart .ss-block1Even {
  width: 27%
}

.cell_on-indiaMart .ss-block2Even .ss-block2-icon {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 46px
}

.cell_on-indiaMart .ss-block2Even .ss-block2-text p {
  text-align: center;
  padding: 4px 0
}

.cell_on-indiaMart .ssbox1 {
  width: 31%;
  float: left
}

.cell_on-indiaMart .ss-block2-text h3 {
  color: #0453c7;
  font-size: 18px;
  padding: 0;
  margin: 9px 0 0
}

.cell_on-indiaMart .ss-block2-text p {
  color: #000;
  font-size: 17px;
  padding: 0;
  margin-top: 12px;
  line-height: 22px
}

.cell_on-indiaMart .ss-block2-heading {
  font-weight: 600;
  font-size: 18px;
  color: #0453c7;
  position: relative;
  top: 10px
}

.cell_on-indiaMart .hgfl-section {
  width: 90%;
  height: 635px;
  margin: auto
}

.cell_on-indiaMart .hgfl-heading {
  font-size: 28px;
  font-weight: 600;
  color: #0453c7;
  padding: 35px 0 10px
}

.cell_on-indiaMart .hgfl-section p {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-bottom: 30px
}

.cell_on-indiaMart .hgfl-block {
  width: 100%;
  height: 333px;
  max-width: 100%;
  object-fit: contain;
  background: url(//seller.imimg.com/img/hgfl-bkg.png) #fff no-repeat;
  background-position: 0 0;
  background-size: 100% auto
}

.cell_on-indiaMart .hgfl-block-div {
  width: 33.3%;
  height: 333px;
  float: left
}

.cell_on-indiaMart .hgfl-icon {
  width: 90px;
  height: 90px;
  margin: 44px auto auto
}

.cell_on-indiaMart .hgfl-bl-head {
  font-size: 24px;
  font-weight: 700;
  color: #0453c7;
  text-align: center;
  margin: 40px auto auto
}

.cell_on-indiaMart .hgfl-block-text {
  font-size: 16px;
  color: #000;
  padding-top: 20px;
  width: 68%;
  margin: auto;
  text-align: center
}

.cell_on-indiaMart .hgfl-rect {
  width: 100%;
  height: 100px;
  border-radius: 8px;
  background-color: #f4f4f4;
  position: relative
}

.cell_on-indiaMart .hgfl-click {
  width: 5%;
  height: 70px;
  margin: 1% 1% 0 7%;
  float: left
}

.cell_on-indiaMart .hgfl-rect-text {
  width: 55%;
  font-size: 28px;
  font-weight: 600;
  color: #0453c7;
  margin: 2.6% 0 0 6%;
  float: left
}

.cell_on-indiaMart .hgfl-rect-text span {
  font-weight: 800
}

.cell_on-indiaMart .hgfl-cta {
  margin-top: -5px;
  float: left;
  position: absolute;
  right: 31px
}

.cell_on-indiaMart .hgfl-cta button {
  width: 178px;
  height: 55px;
  border-radius: 4px;
  background-color: #1b4ba5;
  font-weight: 700;
  float: right;
  border: none;
  position: relative;
  top: 29px;
  right: 86px;
  font-size: 16px;
  letter-spacing: .11px;
  color: #fff;
  cursor: pointer
}

.cell_on-indiaMart .hgfl-cta button span {
  font-size: 22px;
  font-weight: 700;
  position: relative;
  left: 20px;
  top: 2px
}

.cell_on-indiaMart .seller-success-stories {
  width: 100%;
  height: 550px;
  background-color: #fbfbfb
}

.cell_on-indiaMart .sss-heading {
  font-size: 32px;
  font-weight: 600;
  color: #000;
  padding-left: 67px;
  padding-top: 35px;
  background: #fbfbfb;
  text-align: center
}

.cell_on-indiaMart .bhoi {
  width: 90%;
  height: 700px;
  margin: auto
}

.cell_on-indiaMart .bhoi-heading {
  font-size: 28px;
  font-weight: 600;
  color: #000;
  background: #fff;
  text-align: center;
  padding-top: 44px;
  padding-bottom: 30px
}

.cell_on-indiaMart .bhoi-subtext {
  font-size: 18px;
  font-weight: 600;
  color: #000
}

.cell_on-indiaMart .bhoi-imgtxtdesc {
  height: 437px;
  width: 100%;
  margin-top: 45px
}

.cell_on-indiaMart .bhoi-block1 {
  height: 437px;
  width: 35%;
  float: left
}

.cell_on-indiaMart .bhoi-block2 {
  height: 437px;
  width: 34%;
  float: left
}

.cell_on-indiaMart .bhoi-block3 {
  height: 437px;
  width: 30%;
  float: left;
  position: relative
}

.cell_on-indiaMart .bhoi-box {
  width: 100%;
  height: 200px;
  display: inline-block
}

.cell_on-indiaMart .bhoi-img1 {
  width: 35%;
  height: 168px;
  float: left
}

.cell_on-indiaMart .bhoi-imgtxt {
  width: 64%;
  height: 168px;
  float: left
}

.cell_on-indiaMart .bhoi-subhead {
  height: 27px;
  font-size: 22px;
  font-weight: 600;
  color: #0453c7;
  margin: 41px 0 9px 15px
}

.cell_on-indiaMart .bhoi-body {
  width: 78%;
  height: 57px;
  font-size: 14px;
  color: #000;
  line-height: 19px;
  margin: 0 0 0 15px
}

.cell_on-indiaMart .bhoi-box2 .bhoi-img1 {
  width: 46%
}

.cell_on-indiaMart .bhoi-box2 .bhoi-imgtxt {
  width: 53%
}

.cell_on-indiaMart .bhoi-box2 .bhoi-subhead {
  margin: 41px 0 9px
}

.cell_on-indiaMart .bhoi-box2 .bhoi-body {
  margin: 0
}

.cell_on-indiaMart .bhoi-box2 {
  margin-top: 63px
}

.cell_on-indiaMart .gbtti {
  display: block;
  width: 100%;
  height: 350px;
  background: #fbfbfb
}

.cell_on-indiaMart .gbtti-heading {
  font-size: 28px;
  color: #000;
  background: #fbfbfb;
  text-align: center;
  font-weight: 600;
  padding-left: 40px;
  padding-top: 35px
}

.cell_on-indiaMart .wcysoi {
  display: block;
  width: 100%;
  height: 415px;
  background-color: #fff
}

.cell_on-indiaMart .wcysoi-heading {
  font-size: 28px;
  font-weight: 600;
  padding-left: 93px;
  color: #000;
  background: #fff;
  text-align: center;
  padding-top: 47px
}

.cell_on-indiaMart .imap {
  width: 100%;
  height: 911px;
  background: #fafafa
}

.cell_on-indiaMart .imap-img {
  width: 100%;
  margin: auto;
  text-align: center;
  display: block
}

.cell_on-indiaMart .imap-heading {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  background: #fbfbfb;
  text-align: center;
  -webkit-text-fill-color: #000;
  padding: 35px 0 24px
}

.cell_on-indiaMart .imap-text {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  padding: 23px 0 54px 55px
}

.cell_on-indiaMart .imap-btn {
  width: 190px;
  height: 44px;
  border-radius: 4px;
  display: block;
  font-size: 16px;
  background-color: #1b4ba5;
  color: #fafafa;
  border: none;
  margin: auto;
  cursor: pointer
}

.cell_on-indiaMart .imap-assist {
  font-family: Arial;
  font-size: 18px;
  line-height: 1.33;
  color: #000;
  padding: 46px 0 0 58px
}

.cell_on-indiaMart .hyphen-rect {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: #035ec1
}

.cell_on-indiaMart .hyphen-rect:before {
  left: -20px
}

.cell_on-indiaMart .hyphen-rect:after,.cell_on-indiaMart .hyphen-rect:before {
  content: "";
  width: 36px;
  height: 2px;
  display: inline-block;
  background-color: #019e9b;
  position: relative;
  top: -6px
}

.cell_on-indiaMart .hyphen-rect:after {
  right: -20px
}

.cell_on-indiaMart .ima-body {
  width: 95%;
  height: 267px;
  margin: auto
}

.cell_on-indiaMart .ima-feat img {
  display: block;
  margin: 35px auto auto
}

.cell_on-indiaMart .ima-feat {
  height: 267px;
  width: 33%;
  float: left
}

.cell_on-indiaMart .ima-featHead {
  font-size: 25px;
  font-weight: 700;
  background: linear-gradient(103deg,#01a49a 21%,#4361ee 91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 31px
}

.cell_on-indiaMart .ima-featText {
  text-align: center;
  font-size: 18px;
  width: 90%;
  line-height: 23px;
  margin: 26px auto
}

.cell_on-indiaMart .soi-heading {
  font-size: 28px;
  color: #000;
  background: #fff;
  text-align: center;
  font-weight: 600;
  padding-left: 55px;
  padding-top: 42px
}

.soi {
  width: 100%;
  height: 321px;
  background-image: linear-gradient(103deg,#21a2ce -34%,#1a3399 146%,#062aba 0)
}

.cell_on-indiaMart .soi-para p {
  font-size: 18px;
  color: #fff;
  line-height: 22px;
  padding: 24px 48px 0 56px;
  font-family: Arial
}

.cell_on-indiaMart .sss-slider imgDiv {
  float: left;
  width: 100%;
  object-fit: contain
}

.cell_on-indiaMart .imgDiv {
  height: 362px;
  width: 373px;
  border-radius: 3px;
  background: #fff
}

.cell_on-indiaMart .sss-slider {
  max-width: 1155px;
  width: 100%;
  position: relative;
  top: 46px;
  margin: auto
}

.cell_on-indiaMart .brands-slider {
  max-width: 1175px;
  width: 100%;
  padding: 39px 23px;
  margin: auto
}

.cell_on-indiaMart .wcysoi-slider {
  max-width: 1150px;
  width: 100%;
  padding: 0 0 0 30px;
  margin: auto
}

.cell_on-indiaMart .wcysoi-cover {
  width: 90%;
  margin: auto;
  position: relative;
  top: 40px
}

.cell_on-indiaMart .wcysoi-imgtxt {
  display: inline-block;
  height: 207px;
  border-radius: 3px;
  background-color: #fff
}

.cell_on-indiaMart .wcysoi-imgtxt img {
  margin: auto;
  position: relative;
  top: 35px
}

.cell_on-indiaMart .wcysoi-imgtxt h4 {
  width: 170px;
  text-align: center;
  margin: 66px auto auto
}

.cell_on-indiaMart .brands-cover {
  background: #fff;
  display: block;
  width: 90%;
  margin: auto;
  position: relative;
  top: 51px
}

.cell_on-indiaMart .vdoDiv {
  width: 324px;
  height: 149px;
  margin: auto;
  position: relative;
  top: 27px;
  background: #000
}

.cell_on-indiaMart .wcsoiTxt {
  font-weight: 400;
  margin: 50px auto auto
}

.cell_on-indiaMart .wcsoiSign,.cell_on-indiaMart .wcsoiTxt {
  width: 90%;
  height: 70px;
  font-size: 16px;
  color: #000
}

.cell_on-indiaMart .wcsoiSign {
  margin: auto;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal
}

.cell_on-indiaMart .ytp-large-play-button .ytp-button {
  border-radius: 72px;
  border: 2px solid #fff;
  width: 49px
}

.cell_on-indiaMart .banner-section {
  display: flex;
  flex-wrap: wrap;
  padding: 29px 10px;
  justify-content: center;  
}

.internalUser .banner-section {
  right: 10px;
  background: #eee;
  border-radius: 11px;
  padding: 37px 18px 37px 27px;
  display: inline-block;
  position: absolute;
  top: 53%;
  left: unset;
  margin-top: -119px;
  width: 346px;
  float: right
}

.cell_on-indiaMart .banner-input {
  float: left;
  margin-right: -1px
}

.internalUser .banner-input {
  float: none!important;
  margin-right: -1px
}

.cell_on-indiaMart .banner-cta {
  float: left;
  margin-top: 0
}

.cell_on-indiaMart .banner-cta button {
  background-color: #4361ee;
  min-width: 210px;
  border-radius: 0 4px 4px 0;
  padding: 25px 29px 22px 0;
  margin-top: -.3px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  letter-spacing: .11px;
  color: #fff;
  cursor: pointer;
  width: 97%
}

.internalUser .banner-cta button {
  padding: 15px 29px 15px 0!important;
  width: 293px;
  margin-top: 15px!important;
  border-radius: 4px!important
}

.cell_on-indiaMart .banner-cta span {
  position: absolute;
  right: 80px;
  top: 18px
}

.cell_on-indiaMart .banner-cta img {
  width: 18px
}

.cell_on-indiaMart .banner-steps {
  /* display: flex;
  position: absolute;
  top: 76px;
  width: 45%;
  left: 22% */
}

.cell_on-indiaMart .banner-stepsEven .bstep1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cell_on-indiaMart .banner-textEven {
  /* left: 47%; */
  font-size: 40px;
  color: #000;
  max-width: 100%;
  line-height: 1.36;
  text-align: center;
  padding: 50px 20px;
  /* top: 11px */
}

.cell_on-indiaMart .banner-stepsEven {
  /* width: 41%; */
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  /* left: 48%;
  top: 289px */
}

.cell_on-indiaMart .banner-stepsInternalEven {
  /* top: 76px;
  width: 45%;
  left: 22.3% */
}

.cell_on-indiaMart .banner-stepsEven figcaption,figcaption {
  color: #1665d8;
  font-weight: 700
}

.cell_on-indiaMart .banner-stepsEven p,.cell_on-indiaMart .banner-stepsInternalEven p {
  display: inline-block;
  color: #343434!important;
  font-size: 17px;
  width: 181px;
  margin-top: 10px;
  text-align: center
}

.cell_on-indiaMart .bstep1:first-child {
  margin-left: 0
}

.cell_on-indiaMart .bstep1 {
  width: 33.33%;
  text-align: center
}

.cell_on-indiaMart .bstep1 figcaption {
  font-size: 18px;
  margin-top: 14px;
  color: #000
}

.cell_on-indiaMart .bstep1 img {
  width: 65px;
  margin: auto
}

.cell_on-indiaMart .banner-label {
  color: #343434;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 23px;
  width: 100%;
  text-align: center;
}

.internalUser #mobNo {
  height: 55px!important;
  padding-top: 0!important;
  padding-right: 10px!important;
  padding-bottom: 0!important;
  width: 293px!important;
  min-width: 293px!important
}

.internalUser #mobNo::placeholder {
  font-size: 14px
}

.internalUser .banner-label {
  font-size: 23px!important;
  position: relative!important;
  top: -10px!important;
  color: #343434!important;
  font-weight: 700!important;
  margin-bottom: 15px!important
}

.cell_on-indiaMart .cf_social {
  position: relative!important
}

.cell_on-indiaMart .box {
  width: 40%;
  margin: 0 auto;
  background: hsla(0,0%,100%,.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center
}

.cell_on-indiaMart .overlay {
  position: fixed;
  top: -9px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.7);
  visibility: hidden;
  opacity: 0;
  z-index: 10
}

.cell_on-indiaMart .overlay:target {
  visibility: visible;
  opacity: 1
}

.cell_on-indiaMart .reg-popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  width: 464px;
  height: auto;
  min-height: 300px;
  position: relative;
  top: 30px
}

.cell_on-indiaMart .reg-popup .close {
  position: absolute;
  top: 1px;
  right: 2px;
  font-size: 30px;
  cursor: pointer;
  text-decoration: none;
  color: #b6b6b6;
  z-index: 1;
  background: #fff;
  border: none
}

.cell_on-indiaMart .reg-popup .close:hover {
  color: #000
}

.cell_on-indiaMart .loadText {
  display: none;
  position: absolute;
  color: #000;
  z-index: 1;
  text-align: center;
  width: 100%;
  left: 0;
  top: 150px;
  font-size: 15px
}

@media screen and (max-width: 700px) {
  .cell_on-indiaMart .box,.cell_on-indiaMart .reg-popup {
      width:70%
  }
}

.cell_on-indiaMart .otpscr-text {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  text-align: center
}

.cell_on-indiaMart .aam {
  position: absolute;
  margin: auto;
  display: block;
  left: 37.5%;
  bottom: 0
}

.cell_on-indiaMart .aam>span:hover {
  color: #255dad
}

.cell_on-indiaMart .aamTxt>span:hover {
  color: #000
}

#country-dropdown-fcp2 dt span:nth-child(2) {
  padding: 13px 0;
  height: 46px;
  background: #fff;
  font-size: 18px
}

#country-dropdown-fcp2 .dropdown dt a {
  height: 31px
}

#country-dropdown-fcp3 dt {
  pointer-events: none
}

.cell_on-indiaMart .dropdown dd {
  text-align: left
}

.cell_on-indiaMart .brands-cover .slick-next {
  right: -58px
}

.cell_on-indiaMart .brands-cover .slick-prev {
  left: -70px
}

.cell_on-indiaMart .sss-slider .slick-next {
  right: -38px
}

.cell_on-indiaMart .sss-slider .slick-prev {
  left: -44px
}

.cell_on-indiaMart .slick-next:hover {
  opacity: 1
}

.cell_on-indiaMart .slick-next {
  background: #2e3192!important;
  border-radius: 10px;
  opacity: .7
}

.cell_on-indiaMart .slick-slide {
  outline: none
}

#soi {
  top: 172px
}

#htr,#soi {
  position: absolute;
  display: block;
  height: 10px;
  width: 10px
}

#htr {
  top: 600px
}

#sss {
  top: 1200px;
  display: block;
  height: 10px;
  width: 10px
}

#sss,#wcys {
  position: absolute
}

#wcys {
  top: 2830px
}

#ia {
  position: absolute;
  top: 3250px
}

.cell_on-indiaMart .subHeader a:hover {
  text-decoration: none
}

.cell_on-indiaMart .bs-div {
  width: 213px;
  height: 84px
}

.cell_on-indiaMart .banimgInt {
  display: none
}

.cell_on-indiaMart .soi-newstat {
  text-align: center;
  background: #fbfbfb;
  padding-top: 49px;
  padding-bottom: 15px
}

.cell_on-indiaMart .soi-newstathtr {
  text-align: center;
  background: #fff;
  padding: 48px 0 35px
}

.cell_on-indiaMart .soi-newstathtr .soi-box p {
  max-width: 233px
}

.cell_on-indiaMart .soi-head {
  font-size: 24px;
  font-weight: 700
}

.cell_on-indiaMart .soi-box {
  width: 25%;
  display: inline-block;
  border-radius: 8px;
  border: 1.5px solid #f2f2f2;
  padding: 10px;
  text-align: center;
  margin: 40px 40px 30px;
  background: #fff
}

.cell_on-indiaMart .soi-newstathtr .soi-box {
  background: #fbfbfb
}

.cell_on-indiaMart .soi-img {
  padding: 16px 0
}

.cell_on-indiaMart .soi-img img {
  margin: auto
}

.cell_on-indiaMart .soi-box figcaption {
  font-size: 20px;
  font-weight: 700
}

.cell_on-indiaMart .soi-box p {
  font-size: 16px;
  max-width: 200px;
  text-align: center;
  margin: 10px auto auto;
  line-height: 1.3;
  padding-bottom: 17px
}

.cell_on-indiaMart .soi-stat-body {
  text-align: center
}

.cell_on-indiaMart .login-sprite {
  background-image: url(https://seller.imimg.com/img/login-sprite.png)
}

.cell_on-indiaMart .busin-sprite {
  background-image: url(https://seller.imimg.com/img/busin_sprite.png)
}

.cell_on-indiaMart .login-auto {
  margin: auto
}

.cell_on-indiaMart .login-icDim {
  width: 55px;
  height: 55px
}

.cell_on-indiaMart .login_arrow {
  background-position: -2px -3px;
  width: 18px;
  height: 9px;
  position: absolute;
  top: -2px;
  right: -3px;
  display: inline-flex
}

.cell_on-indiaMart .login_Regarrow {
  background-position: -2px -3px;
  width: 18px;
  height: 9px;
  position: relative;
  top: 5px;
  left: -14px;
  float: right
}

.cell_on-indiaMart .login_grow {
  background-position: -42px -4px
}

.cell_on-indiaMart .login_cost {
  background-position: -117px -4px
}

.cell_on-indiaMart .login_manage {
  background-position: -192px -4px
}

.cell_on-indiaMart .login_crore {
  background-position: -267px -4px;
  width: 45px;
  height: 54px
}

.cell_on-indiaMart .login_lakh {
  background-position: -331px -4px;
  width: 54px;
  height: 55px
}

.cell_on-indiaMart .login_8crore {
  background-position: -405px -4px;
  width: 62px;
  height: 62px
}

.cell_on-indiaMart .login_CreateAcc {
  background-position: 0 -69px
}

.cell_on-indiaMart .login_AddBus {
  background-position: -72px -69px
}

.cell_on-indiaMart .login_AddPro {
  background-position: -142px -69px
}

.cell_on-indiaMart .login_sellarrow {
  background-position: -212px -69px;
  float: left;
  margin: 1% 1% 0 6.5%;
  width: 74px;
  height: 70px
}

.cell_on-indiaMart .login_highVis {
  background-position: -301px -69px;
  width: 34px;
  height: 34px;
  margin-top: 35px
}

.cell_on-indiaMart .login_busEnq {
  background-position: -350px -69px;
  width: 36px;
  height: 34px;
  margin-top: 35px
}

.cell_on-indiaMart .login_addLead {
  background-position: -401px -76px;
  width: 42px;
  height: 23px;
  margin-top: 46px
}

.cell_on-indiaMart .login_leadMang {
  background-position: -354px -112px;
  width: 34px;
  height: 34px;
  margin-top: 35px
}

.cell_on-indiaMart .login_payment {
  background-position: -301px -112px;
  width: 38px;
  height: 31px;
  margin-top: 39px
}

.cell_on-indiaMart .login_preNum {
  background-position: -408px -112px;
  width: 34px;
  height: 34px;
  margin-top: 35px
}

.cell_on-indiaMart .login_img {
  background-position: -27px -3px;
  width: 146px;
  height: 168px
}

.cell_on-indiaMart .login_img-1 {
  background-position: -2px -244px;
  width: 185px;
  height: 168px
}

.cell_on-indiaMart .login_img-2 {
  background-position: -204px 0;
  width: 384px;
  height: 438px
}

.cell_on-indiaMart .login_img-3 {
  background-position: -598px -5px;
  width: 140px;
  height: 168px
}

.cell_on-indiaMart .login_img-4 {
  background-position: -598px -244px;
  width: 168px;
  height: 164px
}

.cell_on-indiaMart .login_img-5 {
  background-position: -27px -3px;
  width: 146px;
  height: 168px
}

.cell_on-indiaMart .login_btn {
  background-color: #4361ee;
  min-width: 210px;
  border-radius: 0 4px 4px 0;
  padding: 25px 29px 22px 0;
  margin-top: -.3px;
  font-size: 18px;
  cursor: pointer;
  opacity: 1
}

.cell_on-indiaMart .login_btn>span {
  top: 33px;
  right: 37px
}

.internalUser .login_btn>span {
  top: 24px!important
}

.cell_on-indiaMart .em {
  display: none;
  margin-top: 3px;
  color: #c33
}

.cell_on-indiaMart .cont_drpdown_fcp {
  position: relative
}

.cell_on-indiaMart .banimgDir-1 {
  width: 209px;
  font-size: 16px
}

.cell_on-indiaMart .soi-head banimgInt {
  display: none;
  position: absolute;
  left: 37px;
  top: -43px;
  font-size: 20px
}

.cell_on-indiaMart .value {
  visibility: visible;
  width: 47px;
  border-left: 1px solid #4b4b4b;
  font-size: 18px;
  padding: 13px 0 16px
}

*,:after,:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

body {
  /* background: #e8eaeb; */
  padding: 0;
  margin: 0;
  font-family: arial;
  min-height: 873px;
  position: relative;
  font-size: 12px;
  line-height: 1
}

html {
  overflow: inherit!important
}

input {
  outline: none
}

p {
  padding: 0;
  margin: 0
}

.cell_on-indiaMart .newlgn {
  background: #fff;
  height: auto;
  min-height: 306px;
  width: 618px;
  margin: 0 auto;
  border: none;
  box-sizing: border-box;
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  position: relative
}

.cell_on-indiaMart .newlgn .mblfld {
  font-size: 15px;
  padding: 8px 12px;
  box-sizing: border-box;
  border: 1px solid #c9c6c6
}

.iptrow {
  padding-bottom: 6px;
  position: relative;
  width: 300px;
  margin: 0 auto
}

.mblfld:focus {
  box-shadow: 1px 0 4px #b9bbc1
}

.cell_on-indiaMart .newlgn .mblfld,.cell_on-indiaMart .sbmtbtn {
  border-radius: 3px
}

.cell_on-indiaMart .sbmtbtn {
  background: #1b4ba5;
  color: #fff;
  padding: 11px 0;
  text-align: center;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  font-weight: 700;
  width: 110px;
  cursor: pointer;
  float: right;
  top: 22px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0
}

.cell_on-indiaMart .newlgnerr {
  color: #c33;
  font-size: 12px;
  height: 15px;
  text-align: left;
  position: absolute;
  display: none;
  padding-top: 2px
}

.cell_on-indiaMart .sgntxt,.cell_on-indiaMart .sgntxt1,.cell_on-indiaMart .sgntxt2 {
  color: #242424;
  font-size: 18px;
  font-weight: 700;
  padding: 0 0 20px
}

.lgim {
  margin: 0 0 20px
}

.cell_on-indiaMart .cont_drpdownmy .cont_mobmy {
  float: left;
  position: absolute;
  margin: 2px 9px 9px 7px;
  padding: 5px;
  z-index: 1
}

.cell_on-indiaMart .cont_drpdownmy dl dt .value {
  background-color: #f1f1f1;
  border-left: 1px solid #bdc7d8;
  bottom: 6px;
  display: inline-block;
  height: 23px;
  left: 4px;
  padding: 9px 4px 1px;
  position: relative;
  width: 47px
}

#divH {
  padding: 92px 0;
  margin-bottom: 0
}

.cell_on-indiaMart .terms_condition {
  color: #c33;
  font-size: 12px;
  height: 15px;
  text-align: left;
  position: relative;
  display: none
}

.cell_on-indiaMart .not-me {
  background-color: #fff;
  width: 75px;
  height: 33px;
  border-radius: 0 3px 3px 0;
  position: absolute;
  right: 2px;
  top: 1px;
  padding-top: 10px;
  color: #2e3192;
  cursor: pointer;
  display: none
}

.cell_on-indiaMart .hm1 {
  position: relative;
  top: 0;
  min-height: 4720px;
  display: inline-block
}

body {
  min-height: 100vh!important
}

/* .cell_on-indiaMart .cf_footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0
} */

.cell_on-indiaMart .cf_social {
  position: static
}

.cell_on-indiaMart .inptrow {
  position: relative;
  margin-bottom: 10px
}

.cell_on-indiaMart .otp-con,.cell_on-indiaMart input.npttxt {
  border: 1px solid #4b4b4b;
  background: #fff;
  font-size: 15px;
  border-radius: 4px;
  line-height: 19px;
  padding: 0 0 0 103px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  transition: all .25s;
  min-height: 36px;
  box-shadow: none!important
}

.cell_on-indiaMart .terms_checkbox {
  text-align: left;
  padding-top: 2px;
  padding-bottom: 15px;
  display: none
}

.cell_on-indiaMart .terms_checkbox .checkbox_input {
  width: 18px;
  height: 13px;
  margin: 0;
  vertical-align: bottom;
  overflow: hidden;
  position: relative;
  top: -2px
}

.cell_on-indiaMart .terms_link {
  padding-left: 2px;
  font-size: 14px;
  text-decoration: underline
}

.cell_on-indiaMart .cont_drpdown_fcp .cont_mob {
  float: left;
  margin: 0;
  position: absolute;
  z-index: 1;
  bottom: 0;
  top: 0
}

.cell_on-indiaMart .cont_drpdown_fcp .dropdown dt a {
  margin-left: 7px;
  width: 35px
}

.cell_on-indiaMart .dropdown dt a {
  display: inline-block;
  width: 35px;
  height: 14px
}

.cell_on-indiaMart .cont_drpdown_fcp dl dt .value {
  background-color: #eaeaea;
  bottom: 0;
  display: inline-block;
  font-size: 14px;
  left: 4px;
  padding: 10px 0;
  position: relative;
  text-align: center;
  width: 47px;
  margin: 1px 0
}

.cell_on-indiaMart .banner-input .cont_drpdown_fcp dl dt {
  margin-top: 10px
}

.internalUser .banner-input .cont_drpdown_fcp dl dt {
  margin-top: 4px
}

.cell_on-indiaMart .banner-input .cont_drpdown_fcp dl dt .value {
  background-color: #fff;
  visibility: visible;
  width: 58px;
  border-left: 1px solid #cecece;
  font-size: 20px;
  padding: 13px 0 16px
}

.clearfix:after,.clearfix:before {
  content: " ";
  display: table
}

.clearfix:after {
  clear: both
}

.cell_on-indiaMart input.npttxt.otp,.cell_on-indiaMart input.npttxt.pass {
  background: #fff;
  padding-left: 20px;
  margin-top: 5px
}

.cell_on-indiaMart .sent-success {
  font-size: 12px;
  font-weight: 700;
  color: #117b00;
  text-align: center;
  display: block;
  margin-top: 10px;
  margin-bottom: 8px
}

.cell_on-indiaMart .signWthPas {
  color: #2e3192;
  text-align: left;
  display: block;
  cursor: pointer;
  width: 100%;
  padding-top: 23px;
  margin-bottom: -7px;
  text-decoration: underline
}

.cell_on-indiaMart .didRcv {
  margin: 5px 0;
  text-align: right;
  display: inline
}

.cell_on-indiaMart #otpDtl {
  display: none;
  width: 306px;
  text-align: center;
  margin: 5px auto
}

.cell_on-indiaMart #otpDtl_new {
  margin-bottom: 10px;
  display: none
}

.continue_lgn,.cell_on-indiaMart .reqOTPbtn,.cell_on-indiaMart .reqOTPbtn_email {
  background: #4361ee;
  color: #fff;
  padding: 11px 0;
  text-align: center;
  box-sizing: border-box;
  border: none;
  font-size: 15px;
  font-weight: 700;
  width: 210px;
  height: 39px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0
}

.cell_on-indiaMart .or {
  font-weight: 700;
  display: block;
  margin-bottom: 12px;
  margin-top: 15px
}

.cell_on-indiaMart .or span {
  width: 50px;
  height: 50px;
  background: #b6b6b6;
  border-radius: 50%;
  padding: 5px;
  color: #fff;
  position: relative
}

.or span:after,.cell_on-indiaMart .or span:before {
  content: "";
  width: 92px;
  height: 1px;
  background-color: #b6b6b6;
  position: absolute;
  top: 11px;
  left: 25px
}

.cell_on-indiaMart .or span:after {
  right: 25px;
  left: auto
}

.cell_on-indiaMart .either_or {
  font-weight: 700;
  display: none;
  margin-bottom: 12px;
  margin-top: 15px
}

.cell_on-indiaMart .either_or span {
  width: 50px;
  height: 50px;
  background: #b6b6b6;
  border-radius: 50%;
  padding: 5px;
  color: #fff;
  position: relative
}

.cell_on-indiaMart .either_or span:after,.cell_on-indiaMart .either_or span:before {
  content: "";
  width: 92px;
  height: 1px;
  background-color: #b6b6b6;
  position: absolute;
  top: 11px;
  left: 25px
}

.cell_on-indiaMart .either_or span:after {
  right: 25px;
  left: auto
}

.cell_on-indiaMart .whtBtn {
  border: 1px solid #4361ee;
  background: #fff;
  color: #4361ee;
  padding: 9px 0;
  text-align: center;
  box-sizing: border-box;
  font-size: 15px;
  height: 37px;
  width: 210px;
  cursor: pointer;
  margin: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0
}

.cell_on-indiaMart .continue_lgnpass:hover {
  background-color: #fff;
  border: 1px solid #4361ee;
  color: #4361ee
}

.cell_on-indiaMart #passBlock {
  display: none
}

.cell_on-indiaMart span.needus {
  display: block;
  color: #949494;
  clear: both;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8px
}

.cell_on-indiaMart .error_msg {
  text-align: center;
  display: block;
  margin-top: 5px;
  color: #ca0707;
  margin-bottom: 3px
}

.cell_on-indiaMart .re-send2:hover {
  color: #2e3192
}

.cell_on-indiaMart .re-send2 {
  margin-left: 5px
}

.cell_on-indiaMart #loading_s,.cell_on-indiaMart #loading_s_pass {
  text-align: center;
  line-height: 24px;
  float: right;
  margin-right: 5px;
  margin-top: 4px;
  position: relative;
  top: 20px
}

.cell_on-indiaMart .otp-con input {
  height: 25px;
  width: 68px;
  border: 0;
  border-right: 1px solid #c7c7c7;
  margin-top: 5px;
  line-height: 25px
}

#password_sent {
  padding: 6px 0 0 24px;
  display: block;
  text-align: left;
  background-position: 6px 7px;
  line-height: 14px!important;
  background-color: transparent;
  border: 0
}

.cell_on-indiaMart .cstm_or {
  color: #b6b6b6;
  padding: 5px;
  font-size: 15px;
  cursor: auto
}

.cell_on-indiaMart .signWthPas_cstm {
  text-decoration: none;
  font-size: 14px;
  padding: 10px;
  margin: 0 auto;
  width: 188px
}

.cell_on-indiaMart #setOTPDiv {
  padding-top: 3px;
  margin-right: 47%;
  width: 100%;
  text-align: center
}

.cell_on-indiaMart .CPsubmitbutton {
  font-size: 16px;
  font-weight: 700;
  width: 204px;
  background: #eae8e8;
  border: 1px solid #eae8e8;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  margin: 5px 0;
  cursor: pointer
}

.cell_on-indiaMart .CPsubmitbuttonOTPLabel {
  float: left;
  margin-top: 7px;
  margin-left: -15px;
  color: #665a5a
}

.cell_on-indiaMart #ch-label2 {
  display: inline-block;
  margin-top: 10px
}

.cell_on-indiaMart .mobbox2 {
  height: 30px;
  margin-left: 7px;
  line-height: 16px;
  width: 30px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px
}

.cell_on-indiaMart p.didRcv {
  display: block;
  text-align: center;
  clear: both
}

.cell_on-indiaMart .hereEdit a,.cell_on-indiaMart .resend,.cell_on-indiaMart .vrfy,.cell_on-indiaMart .vrfyEml {
  color: #2e3192;
  cursor: pointer
}

.cell_on-indiaMart #OTPmessage {
  display: none;
  color: #555;
  margin-right: 10px;
  margin-top: 0;
  float: left;
  margin-left: 184px
}

.cell_on-indiaMart .didRcvnew {
  margin-top: 0;
  float: left
}

.cell_on-indiaMart .ldr-im {
  display: none;
  margin-bottom: 0;
  text-align: center;
  padding-bottom: 10px;
  float: none;
  width: 50%;
  margin-left: 155px;
  margin-top: 80px
}

.cell_on-indiaMart .spinner,.cell_on-indiaMart .spinner1 {
  animation: rotate .8s linear infinite;
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;
  display: inline-block
}

.cell_on-indiaMart .spinner1 {
  height: 18px;
  width: 18px;
  margin-bottom: -3px
}

.cell_on-indiaMart .dnterr {
  background-position: 3px -178px!important;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 20px
}

.cell_on-indiaMart .succ_boxerr {
  background-color: #ffeded;
  border: 1px solid #da1111;
  color: red
}

.cell_on-indiaMart .input-box {
  width: 100%;
  float: left;
  margin-bottom: 20px
}

.cell_on-indiaMart #ch-label1 {
  display: inline-block;
  margin-top: 10px
}

.cell_on-indiaMart .ch-pwd .input-box input.pass {
  width: 340px;
  float: left
}

.cell_on-indiaMart .ch-form1 {
  margin: 0;
  width: 403px
}

.cell_on-indiaMart .ch-pwd {
  padding: 15px 10px 10px;
  width: 100%;
  max-width: 675px
}

.cell_on-indiaMart .ch-pwd .input-box label {
  width: 184px;
  float: left
}

.cell_on-indiaMart .pass {
  border: 1px solid #dcdcdc;
  margin-right: 3px;
  height: 30px;
  padding-left: 6px;
  border-radius: 4px;
  min-height: 36px
}

.cell_on-indiaMart .fs14 {
  font-size: 14px
}

.cell_on-indiaMart .textfld2 {
  line-height: 14px;
  padding-right: 7px;
  text-align: left;
  width: 156px
}

.cell_on-indiaMart #div_err {
  margin-top: 166px;
  padding: 15px 0 9px
}

.cell_on-indiaMart #div_err,.cell_on-indiaMart #div_succ {
  font-size: 13px;
  display: none;
  text-align: center
}

.cell_on-indiaMart #div_succ {
  padding: 9px 0;
  margin-left: 9px;
  margin-top: 6px
}

.cell_on-indiaMart .succ_box {
  background-position: 184px -170px
}

.cell_on-indiaMart #ch-centerr,.cell_on-indiaMart .succ_box {
  background-color: #f3f3ef;
  border: 1px solid #dcdcdc;
  color: #22b61a
}

.cell_on-indiaMart #ch-centerr {
  background-position: -361px -418px;
  padding: 9px;
  font-weight: 700
}

@keyframes rotate {
  0% {
      transform: rotate(0);
      border-color: #2e3192 transparent #2e3192 #2e3192
  }

  50% {
      transform: rotate(180deg);
      border-color: #2e3192 transparent #2e3192 #2e3192
  }

  to {
      transform: rotate(1turn);
      border-color: #cb2025 transparent #cb2025 #cb2025
  }
}

.cell_on-indiaMart .err-ch {
  font-size: 11px;
  color: #c00;
  font-weight: 400;
  position: absolute;
  margin-left: 20px
}

.cell_on-indiaMart .slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent
}

.cell_on-indiaMart .slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0
}

.cell_on-indiaMart .slick-list:focus {
  outline: none
}

.cell_on-indiaMart .slick-list.dragging {
  cursor: pointer;
  cursor: hand
}

.cell_on-indiaMart .slick-slider .slick-list,.cell_on-indiaMart .slick-slider .slick-track {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0)
}

.cell_on-indiaMart .slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block
}

.cell_on-indiaMart .slick-track:after,.cell_on-indiaMart .slick-track:before {
  display: table;
  content: ""
}

.cell_on-indiaMart .slick-track:after {
  clear: both
}

.cell_on-indiaMart .slick-loading .slick-track {
  visibility: hidden
}

.cell_on-indiaMart .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px
}

[dir=rtl] .cell_on-indiaMart .slick-slide {
  float: right
}

.cell_on-indiaMart .slick-slide img {
  display: block
}

.cell_on-indiaMart .slick-slide.slick-loading img {
  display: none
}

.cell_on-indiaMart .slick-slide.dragging img {
  pointer-events: none
}

.cell_on-indiaMart .slick-initialized .slick-slide {
  display: block
}

.cell_on-indiaMart .slick-loading .slick-slide {
  visibility: hidden
}

.cell_on-indiaMart .slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent
}

.cell_on-indiaMart .slick-arrow.slick-hidden {
  display: none
}

.cell_on-indiaMart .slick-next,.cell_on-indiaMart .slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  border: none
}

.cell_on-indiaMart .slick-next,.cell_on-indiaMart .slick-next:focus,.cell_on-indiaMart .slick-next:hover,.cell_on-indiaMart .slick-prev,.cell_on-indiaMart .slick-prev:focus,.cell_on-indiaMart .slick-prev:hover {
  color: transparent;
  outline: none;
  background: transparent
}

.cell_on-indiaMart .slick-next:focus:before,.cell_on-indiaMart .slick-next:hover:before,.cell_on-indiaMart .slick-prev:focus:before,.cell_on-indiaMart .slick-prev:hover:before {
  opacity: 1
}

.cell_on-indiaMart .slick-next.slick-disabled:before,.cell_on-indiaMart .slick-prev.cell_on-indiaMart .slick-disabled:before {
  opacity: .25
}

.cell_on-indiaMart .slick-prev {
  left: -25px
}

[dir=rtl] .cell_on-indiaMart .slick-prev {
  right: -25px;
  left: auto
}

.cell_on-indiaMart .slick-next {
  right: -25px
}

[dir=rtl] .cell_on-indiaMart .slick-next {
  right: auto;
  left: -25px
}

.cell_on-indiaMart .slick-next:before,.cell_on-indiaMart .slick-prev:before {
  content: "";
  background-color: #2e3192;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
  opacity: .75
}

.cell_on-indiaMart .slick-prev:after {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  top: 16px;
  left: 17px
}

.cell_on-indiaMart .slick-next:after,.cell_on-indiaMart .slick-prev:after {
  content: "";
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  z-index: 1
}

.cell_on-indiaMart .slick-next:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: 7px;
  left: 6px
}

.cell_on-indiaMart .slick-dotted.slick-slider {
  margin-bottom: 30px
}

.cell_on-indiaMart .slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center
}

.cell_on-indiaMart .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer
}

.cell_on-indiaMart .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent
}

.cell_on-indiaMart .slick-dots li button:focus,.cell_on-indiaMart .slick-dots li button:hover {
  outline: none
}

.cell_on-indiaMart .slick-dots li button:focus:before,.cell_on-indiaMart .slick-dots li button:hover:before {
  opacity: 1
}

.cell_on-indiaMart .slick-dots li button:before {
  width: 6px;
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  text-align: center;
  opacity: .25;
  background: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 100%
}

.cell_on-indiaMart .slick-dots li.slick-active button:before {
  opacity: .75;
  color: #000
}

.cell_on-indiaMart .selling.banner-input .cont_drpdown_fcp dl dt {
  margin-top: 0
}

.cell_on-indiaMart .banner-input.selling .cont_drpdown_fcp dl dt .value {
  height: 47px;
  font-size: 14px;
  border-left: 1px solid #4b4b4b;
  padding: 17px 0 16px
}

.cell_on-indiaMart .slick-prev:focus,.cell_on-indiaMart .slick-prev:hover {
  left: -43px!important
}

.cell_on-indiaMart .gbtti .slick-prev,.cell_on-indiaMart .wcysoi .slick-prev {
  left: -45px
}

.cell_on-indiaMart .cf_wd a {
  text-decoration: none;
  outline: none;
  -webkit-backface-visibility: hidden
}

.cell_on-indiaMart .cf_ftlk li.last,.cell_on-indiaMart .cf_rht,.cell_on-indiaMart .cf_social {
  float: right
}

.cell_on-indiaMart .cf_clb,.cell_on-indiaMart .cf_cryt {
  clear: both
}

.cell_on-indiaMart .cf_wd {
  width: 1001px;
  margin: 0 auto
}

.cell_on-indiaMart .cf_footer {
  background: #f6f6f6;
  border-top: 1px solid #e6e6e6;
  font-weight: 300;
  font-size: 14px;
  font-family: arial
}

.cell_on-indiaMart .cf_footer a {
  text-decoration: none;
  outline: none;
  -webkit-backface-visibility: hidden;
  font-size: 14px
}

.cell_on-indiaMart .cf_footer li,.cell_on-indiaMart .cf_footer ul {
  margin: 0;
  padding: 0
}

.cell_on-indiaMart .cf_ftHd {
  background: #eee;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e6e6e6;
  line-height: 42px;
  font-weight: 400
}

.cell_on-indiaMart .cf_fhd {
  color: #2e3192;
  font-size: 20px
}

.cell_on-indiaMart .cf_social a {
  display: inline-block;
  width: 31px;
  height: 42px;
  margin: 0;
  text-indent: -99999px;
  transition: all .2s ease-out 0s
}

.cell_on-indiaMart .cf_fb {
  background-position: -138px -189px
}

.cell_on-indiaMart .cf_fb:hover {
  background-position: -170px -189px
}

.cell_on-indiaMart .tw_ft {
  background-position: -202px -189px
}

.cell_on-indiaMart .tw_ft:hover {
  background-position: -234px -189px
}

.cell_on-indiaMart .cf_lkd_in {
  background-position: -265px -189px
}

.cell_on-indiaMart .cf_lkd_in:hover {
  background-position: -297px -189px
}

.cell_on-indiaMart .cf_gpls {
  background-position: -262px -189px
}

.cell_on-indiaMart .cf_gpls:hover {
  background-position: -294px -189px
}

.cell_on-indiaMart .cf_wndw {
  background-position: -335px -189px
}

.cell_on-indiaMart .cf_wndw:hover {
  background-position: -355px -189px
}

.cell_on-indiaMart .cf_bb {
  background-position: -392px -183px;
  width: 32px!important
}

.cell_on-indiaMart .cf_bb:hover {
  background-position: -427px -183px
}

.cell_on-indiaMart .cf_goMob {
  margin-right: 15px
}

.cell_on-indiaMart .cf_goMob a {
  display: inline-block;
  width: 24px;
  height: 42px;
  margin: 0;
  text-indent: -99999px;
  transition: all .2s ease-out 0s
}

.cell_on-indiaMart .cf_iOS {
  background-position: -45px -187px
}

.cell_on-indiaMart .cf_iOS:hover {
  background-position: -68px -187px
}

.cell_on-indiaMart .cf_anrd {
  background-position: 0 -187px
}

.cell_on-indiaMart .cf_anrd:hover {
  background-position: -23px -187px
}

.cell_on-indiaMart .cf_mSit {
  background-position: -90px -187px
}

.cell_on-indiaMart .cf_mSit:hover {
  background-position: -113px -187px
}

.cell_on-indiaMart .cf_ftlk li {
  margin: 7px 0;
  display: inline-block;
  width: 190px;
  float: left;
  list-style: none;
  line-height: 19px
}

.cell_on-indiaMart .cf_ftlk li.last {
  margin-right: 0!important;
  width: 180px
}

.cell_on-indiaMart .cf_ftlk li.cf_wdth {
  width: 220px
}

.cell_on-indiaMart .cf_ftlk li a {
  display: block;
  padding: 1px 0;
  color: #727272;
  line-height: 26px;
  font-size: 16px;
}

.cell_on-indiaMart .cf_cryt a:hover,.cell_on-indiaMart .cf_ftlk li a:hover {
  color: #2e3192
}

.cell_on-indiaMart .cf_ftlk .cf_lihd {
  color: #000
}

.cell_on-indiaMart .cf_ftlk .cf_lihd,.cell_on-indiaMart .cf_ftlk .cf_lihd a {
  font-size: 17px;
  padding: 0 0 4px;
  font-weight: 400
}

.cell_on-indiaMart .cf_cryt {
  border-top: 1px solid #e1e1e1;
  color: #727272;
  padding: 5px;
  font-size: 14px
}

.cell_on-indiaMart .cf_cryt a {
  color: #727272
}

.cell_on-indiaMart .cf_ftlk .cf_lihd a {
  color: #000
}

.cell_on-indiaMart .cf_rht a {
  font-size: 14px;
}

.cell_on-indiaMart #mobNo {
  border: 1.5px solid #4361ee
}

@media (min-width: 1024px) and (max-width:1199px) {
  .cell_on-indiaMart {
      min-width:1020px
  }

  .banner-cta .login_btn {
      min-width: 150px!important
  }

  .cell_on-indiaMart .subHeadBlocks {
      width: 18%
  }

  .cell_on-indiaMart .IntLogin p.banimgInt {
      width: auto
  }

  .cell_on-indiaMart .banner-stepsEven p {
      width: 164px!important
  }

  .cell_on-indiaMart .bstep1 figcaption {
      width: auto!important
  }

  .cell_on-indiaMart .cf_wd {
      width: 971px
  }

  .cell_on-indiaMart .cf_ftlk li.cf_wdth {
      width: 195px
  }

  .cell_on-indiaMart .ss-block2-text h3 {
      font-size: 15px
  }
}

@media (max-width: 1023px) {
  .loginPage.cell_on-indiaMart,.cell_on-indiaMart .cf_footer {
      min-width:1230px
  }
}

/* sell-indiamart */